<h1> Users </h1>
  <table>
     <thead>
       <tr>
         <th>Login</th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <% @users.each do |user| %>
         <tr>
           <td><%= user.login %></td>
           <td><%= link_to "Show", user %></td>
         </tr>
      <%end%>
    </tbody>
 </table>
