/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
	height: 100%;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

header {
	display: block;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.wrapper-header {
	height: 50px;
	width: 100%;
	background: #363535;
}

.aba {
	font-size: 15px;
	text-align: center;
	background: #363535;
	padding: 10px 0;
	float: left;
	width: 16%;
	color: white;
	margin-top: 5px;
}

.aba a:link, .aba a:visited, .aba a:hover {
	text-decoration: none;
	color: #ffffff;
	background: #363535;
}

body {
	background: #4c8dc5;
	color: white;
	height: 100%;
	margin: 0;
}

.wrapper {
	width: 85%;
   	height: 70%;
	background: #dddddd;
	color: black;
    	margin-left: auto;
	margin-right: auto;
	display: block;
}

.content {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
