// Place all the styles related to the civilians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td, th {
	border: 1px black solid;
	width: 10%;
	margin-left: 5px;
	text-align: center;
}

.id {
	width: 3%;
}

.noborder {
	border: 0 black solid;
}

.bttn {
	border-radius: 10px;
	background: #363535;
	width: 5%;
}

.bttn--new {
	width: 15%;
	line-height: 30px;
	text-align: center;
}

.bttn a:link, .bttn a:hover, .bttn a:visited {
	background: #363535;
	color: #ffffff;
	text-decoration: none;
}

.show--civilians, .edit--civilians {
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50p;

	p {
		line-height: 20px;
		font-size: 20px;
		text-align: left;
	}
}

.edit--civilians {
	width: 35%;
}
