// Place all the styles related to the civilians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
        width: 85% !important;
        height: 70%;
        background: #dddddd;
        color: black;
        margin-left: auto;
        margin-right: auto;
        display: block;
}

td, th {
	border: 1px black solid;
	width: 10%;
	margin-left: 5px;
	text-align: center;
}

.noborder {
	border: 0 black solid;
}

.bttn {
	border-radius: 10px;
	background: #363535;
	width: 5%;
}

.bttn--new {
	width: 15%;
	line-height: 30px;
	text-align: center;
}

.bttn a:link, .bttn a:hover, .bttn a:visited {
	background: #363535;
	color: #ffffff;
	text-decoration: none;
}
