// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper--sign {
        width: 50%;
        height: 50%;
        background: #dddddd;
        color: black;
        margin-left: auto;
        margin-right: auto;
        display: table;
	margin-top: 100px;
}

.content--sign {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

.wrap--sign {
	vertical-align: middle;
	width: 45%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

	p {
		text-align: right;
	}
}

#session_login, #session_password {
	width: 97%;
}

.field--sign {
	font-size: 15px;
}

.actions--sign {
	text-align: right;
	margin-bottom: 15px;
}
